@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --primary-orange: #ff9999;
  --primary-orange-light: #ffc8c8;
  --dark-main: #444f5a;
  --dark-secondary: #3e4149;
}

html {
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}

h1,
p,
input,
button {
  font-family: inherit;
}

.side-bar {
  background: var(--dark-secondary);
  flex: 1;
}

.home {
  flex: 15;
  background: var(--dark-main);
}

button {
  background: var(--primary-orange) !important;
  border-color: var(--primary-orange-light) !important;
  color: #fff !important;
}

.top-section {
  height: 50%;
}

.top-section .logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-orange) !important;
}

.bottom-section {
  height: 50%;
}

.side-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--primary-orange);
  border-radius: 10px;
  background: var(--dark-main) !important;
}

.left-section {
  margin-right: 20px;
  background: var(--dark-secondary);
  width: 20%;
  height: 40%;
}

.left-section,
.right-section {
  border-radius: 26px;
}

.left-section h2 {
  font-size: 40px;
}

.left-section span {
  margin-right: 10px;
  font-size: 60px;
  color: var(--primary-orange);
}

.right-section {
  overflow: scroll;
  text-align: center;
  width: 60%;
  height: 100%;
  background: var(--dark-secondary);
}

.right-section::-webkit-scrollbar {
  width: 0px;
}

.right-section .title span {
  font-size: 20px;
  color: var(--primary-orange);
}

.right-section .title p {
  color: #fff;
}

.expense-list .single-expense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  border-radius: 17px;
  width: 70%;
  padding: 20px 40px;
  font-size: 20px;
  background: var(--dark-main);
}
